# packages for development/testing/packaging
flake8
ipython
pip
pudb
setuptools
twine
wheel

# oldest supported dependencies
# (except for setuptools, we want to package using the latest version)
click==6.0
requests==2.7
six==1.10

# this project itself
-e .
