# packages for development/testing/packaging
flake8
ipython
pip
pudb
setuptools
twine
wheel

# oldest supported dependencies
# (except for setuptools, we want to package using the latest version)
click==8.1.3
requests>=2.20.0
six==1.10

# this project itself
-e .
